
@model MasterMvc.ViewModels.StudentViewModel
@{
    ViewBag.Title = "GetStudents";
}
<br />

<h2>Student with Subject List</h2>
@for (int i = 1; i <= 6; i++)
        {
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="~/Images/@(i+".png")" alt="" class="text-center" />
                                </div>
                                <div class="col-md-7">
                                    <h3 class="text-danger">Computer Vision</h3>
                                    <h4>Price: Rs5000/-</h4>
                                    <h4>Category: Cameras</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

